p {
  text-align: center;
  color:rgba(252, 252, 8, 0.968);
  background-color: rgba(80, 8, 237, 0.3);
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  display: inline;
  font-weight: bold;
}

body {
  color:azure;
  align-items: center;
}

.heading {
  color:rgb(255, 255, 0);
  padding: 5px;
  display:inline;
  background-color:rgba(255, 255, 255, 0.5);
  text-align: center;
}